<div class="product-item bg-light mb-4 product-id-{{ product.product_id }}">
    <div class="product-img position-relative overflow-hidden">
       <a class="link-product-cart-img" href="{{ product.href }}"> <img class="img-fluid w-100" src="{{ product.thumb }}" alt=""> </a>
        <div class="product-action">
            <button aria-label="button_add_in_cart" type="button" onclick="cart.add('{{ product.product_id }}');" class="btn btn-outline-dark btn-square" href="">
                <i class="fa fa-shopping-cart"></i>
            </button>
            <button aria-label="button_add_in_wishlist" type="button" onclick="wishlist.add('{{ product.product_id }}');" class="btn btn-outline-dark btn-square add2wishlist {% if product.product_id in wishlist_product_ids %}active{% endif %}" href="">
                <i class="far fa-heart"></i>
            </button>
             <!--<button aria-label="button_add_in_compare" type="button" onclick="compare.add('{{ product.product_id }}');" class="btn btn-outline-dark btn-square" href="">
								<i class="fa fa-sync-alt"></i>
							</button>!-->
        </div>
    </div>
    <div class="text-center py-4">
        <a class="text-cartp h6 text-decoration-none text-truncate" href="{{ product.href }}">{{ product.name }}</a>
						{% if product.price %}
							<div class="d-flex align-items-center justify-content-center mt-4">
                {% if not product.special %}
                    <h5>{{ product.price }}</h5>
                {% else %}
                    <h5>{{ product.special }}</h5>
                    <h6 class="text-muted ml-2">
                        <del>{{ product.price }}</del>
                    </h6>
                {% endif %}
            </div>
        {% endif %}
                        <div class="d-flex align-items-center justify-content-center mb-1">
							{% for i in 1..5 %}
								{% if product.rating < i %}
									<small class="far fa-star text-primary mr-1"></small>
								{% else %}
									<small class="fa fa-star text-primary mr-1"></small>
								{% endif %}
							{% endfor %}
                        
						</div>

        <div class="cart-buttons mt-2">
            <button aria-label="button_add_in_cart" type="button" onclick="cart.add('{{ product.product_id }}');" class="btn btn-outline-dark btn-square" href="">
                <i class="fa fa-shopping-cart"></i>
            </button>
            <button aria-label="button_add_in_wishlist" type="button" onclick="wishlist.add('{{ product.product_id }}');" class="btn btn-outline-dark btn-square" href="">
                <i class="far fa-heart"></i>
            </button>
            <!--<button aria-label="button_add_in_compare" type="button" onclick="compare.add('{{ product.product_id }}');" class="btn btn-outline-dark btn-square" href="">
								<i class="fa fa-sync-alt"></i>
							</button>!-->
        </div>

    </div>
</div>